.DS_Store
/bin/
.classpath
.project
.settings
*.iml
.gradle
.idea
local.properties
.idea/*
.DS_Store
build
captures
.externalNativeBuild
GetApkInfo/build
AndroidGetSignature/build
AXMLPrinter2_zixie/build